

body {
    font-family: 'Nunito', Arial;
    font-size: small;
    color: #2e3544;
}

.fullwidth {
    width: 100%;
}

#main {
    width: 85%;
    margin-top: 50px;
    margin-bottom: 500px;
    margin-left: auto;
    margin-right: auto;
}

#header_document {
    background-size: cover;
    height: 200px;
    padding: 200px;
    clip-path: polygon(
        20px 0,
        100% 0,
        100% calc(100% - 20px),
        calc(100% - 20px) 100%,
        0 100%,
        0 20px);
}

.logo_warhammer {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.section {
    margin-top: 0px;
    border-bottom: 2px solid #2e3544;
}

.chapter {
    margin-top: 50px;
    text-align: center;
    color: white;
    background-color: #2e3544;
    padding: 2px;
    border-bottom: 4px solid #4a5266;
    clip-path: polygon(
        0 0,
        calc(100% - 10px) 0,
        100% 10px,
        100% 100%,
        0 100%,
        0 0);
}

.indented {
    border-left: 1px solid #919eba;
    padding-left: 10px;
}

.table_default {
    border-collapse: collapse;
    border: 2px solid #2e3544;
}

.table_default th {
    color: white;
    background-color: #2e3544;
    border: 2px solid #2e3544;
    text-align: left;
    padding: 2px;
    padding-right: 20px;
    font-weight: normal;
    vertical-align: top;
}

.table_default td {
    color: #2e3544;
    background-color: rgba(255, 255, 255, 0.65);
    border-top: 1px solid #919eba;
    padding: 2px;
    vertical-align: top;
}

#core_rules {
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 100px 50px;
}

.image_core_rules {
    margin-top: 50px;
    width: 600px;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 20px),
        calc(100% - 20px) 100%,
        0 100%);
}

.action {
    display: flex;
    width: 600px;
    background-color: #c2cce0;
    border: 2px solid #2e3544;
    margin-bottom: 10px;
    border-radius: 2px;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        7px 100%,
        0 calc(100% - 7px));
}

.action .action {
    width: 450px;
}

.action > h4 {
    width: 100px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    color: white;
    background-color: #2e3544;
    padding: 5px;
}

.action_token.token {
    font-weight: lighter;
    font-size: x-small;
    vertical-align: middle;
    display: inline-block;
    color: #ffffff71;
    text-align: left;
    padding-left: 2px;
    width: 25px;
    height: 20px;
    border-left: 5px solid #4a5266;
    border-radius: 2px;
    user-select: none;
    background: radial-gradient(ellipse at 20px 5px, #ffb1b1 0%, #ff5959 10%, #ff7c7c 12%, #ff5959 14%, #846262 80%, #846262 100%);
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 2px),
        calc(100% - 2px) 100%,
        0 100%);
}

.action_token.brace {
    background: radial-gradient(ellipse at 20px 5px, #b1b1ff 0%, #5964ff 10%, #807cff 12%, #5964ff 14%, #626d84 80%, #646284 100%);

}

.action_token.token.used {
    background: #2e3544;
}

.action > div {
    flex: 1;
    padding: 5px;
}

.selection_factions {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 20px 20px;
}

.container_faction_rules  {
    height: 200px;
}

.container_faction_rules.grayscale  {
    filter: grayscale(1);
}

.preview_faction_rules {
    width: 280px;
    height: 190px;
    background-size: cover;
    border: 2px solid #919eba;
    border-radius: 5px;
    box-shadow: inset 0 -50px 50px -20px #2e3544;
    margin-right: auto;
    clip-path: polygon(
        0 0,
        calc(100% - 15px) 0,
        100% 15px,
        100% 100%,
        15px 100%,
        0 calc(100% - 15px));
}

.preview_faction_rules:hover {
    width: 300px;
    height: 200px;
    border: 2px solid #9e59ff;
    box-shadow: inset 0 -50px 50px -20px #9e59ff;
}

.faction_name {
    color: white;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 280px;
    margin-top: 160px;
}

.preview_faction_rules:hover .faction_name{
    width: 300px;
    margin-top: 170px;
}

.faction_content {
    width: 650px;
    margin-top: 20px;
}

.unit {
    width: 550px;
    height: 220px;
    background-size: cover;
    box-shadow: inset 400px 0px 400px -100px #2e3544;
    border: 2px solid #2e3544;
    border-radius: 8px;
    margin-bottom: 20px;
}

.image_unit {
    display: grid;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
}

.header_unit {
    display: flex;
    padding: 2px;
    height: 25px;
}

.name_unit {
    flex: 1;
    font-weight: normal;
    color: white;
    margin: 0px;
    padding: 2px;
    margin-left: 5px;
}

.armor {
    width: 2.5em;
    text-align: center;
    padding: 1px;
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    background-color: #4a5266;
}

.model_properties {
    align-self: flex-end;
    width: 250px;
    padding: 5px;
    margin-top: 20px;
}

.keyword {
    display: inline-block;
    background-color: white;
    border-radius: 2px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.keyword span {
    color: #9e59ff;
    font-weight: bold;
}

.weapons td {
    background-color: rgba(200, 200, 200, 0.8);
    font-weight: bold;
    color: #4a5266;
}

td.range {
    width: 3em;
    text-align: left;
    padding-top: 4px;
}

td.strength {
    width: 7em;
    text-align: right;
    padding-top: 2px;
}

.health_bar {
    display: flex;
    padding: 2px;
    width: 105px;
    height: 15px;
    border-radius: 2px;
    background-color: #2e3544;
}

#army_lists {
    display: grid;
    grid-template-columns: 550px 550px;
    gap: 20px 50px;
}

.action_tokens:hover {
    box-shadow: 0 0 4px 1px #48abe0;
}

.destroyed .action_tokens {
    display: none;
}

.destroyed .health_bar {
    display: none;
}

.health_bar .token {
    flex: 1;
    margin-left: 1px;
    margin-right: 1px;
}

.count_models {
    user-select: none;
}

.count_models:hover {
    color: #8bc5ff;
}

.victory_points:hover {
    color: #8bc5ff;
}

.health_bar .token {
    border-radius: 1px;
    background: linear-gradient(0.5turn, #c8e2fc, #8bc5ff 25%, #8bc5ff 75%, #c8e2fc);
    box-shadow: 0 0 4px 1px #48abe0;
}

#army_lists .health_bar:hover .token.next {
    background: linear-gradient(0.5turn, #fcc8c8, #ff4646 25%, #ff4646 75%, #fcc8c8);
    box-shadow: 0 0 5px 2px #ff4646;
}

#army_lists .health_bar.red .token {
    background: linear-gradient(0.5turn, #fcc8c8, #ff4646 25%, #ff4646 75%, #fcc8c8);
    box-shadow: 0 0 5px 2px #ff4646;
}

#army_lists .health_bar .token.used {
    background: linear-gradient(0.5turn, #535f79, #2e3544 25%, #2e3544 75%, #535f79);
    box-shadow: none;
}

#button_restore_action_tokens {
    margin: 4px;
    margin-right: 10px;
    float: right;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: #535f79;
    border: 0px;
    border-radius: 4px;
}

#button_restore_action_tokens:hover {
    background-color: #626d84;
}

.destroyed td {
    color: #919eba;
}

