

body {
    font-family: 'Nunito', Arial;
    font-size: small;
    color: white;
    background: linear-gradient(90deg, #282d3a 0%, #1c2029 4%, #1c2029 96%, #282d3a 100%);
}

.fullwidth {
    width: 100%;
}

#main {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 500px;
    margin-left: auto;
    margin-right: auto;
}

.header_document {
    background-size: cover;
    height: 200px;
    padding: 200px;
    clip-path: polygon(
        20px 0,
        100% 0,
        100% calc(100% - 20px),
        calc(100% - 20px) 100%,
        0 100%,
        0 20px);
}

.logo_warhammer {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.section {
    margin-top: 0px;
    border-bottom: 2px solid #2e3544;
}

.chapter {
    margin-top: 100px;
    text-align: center;
    color: white;
    background-color: #2e3544;
    padding: 2px;
    border-bottom: 4px solid #4a5266;
    clip-path: polygon(
        0 0,
        calc(100% - 10px) 0,
        100% 10px,
        100% 100%,
        0 100%,
        0 0);
}

.indented {
    border-left: 1px solid #919eba;
    padding-left: 10px;
}

.table_default {
    border-collapse: collapse;
    border: 2px solid #2e3544;
}

.table_default th {
    color: white;
    background-color: #2e3544;
    border: 2px solid #2e3544;
    text-align: left;
    padding: 2px;
    padding-right: 20px;
    font-weight: normal;
    vertical-align: top;
}

.table_default td {
    color: #2e3544;
    background-color: #c2cce0;
    border-top: 1px solid #919eba;
    padding: 2px;
    vertical-align: top;
}

#core_rules {
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 100px 50px;
}

.action {
    display: flex;
    width: 600px;
    background-color: #c2cce0;
    color: #2e3544;
    margin-bottom: 10px;
    border-radius: 2px;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        7px 100%,
        0 calc(100% - 7px));
}

.action > h4 {
    width: 80px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    color: white;
    background-color: #2e3544;
    padding: 5px;
}

.action > div {
    flex: 1;
    padding: 5px;
}

.selection_factions {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 20px 20px;
}

.container_faction_button  {
    height: 200px;
}

.container_faction_button.grayscale  {
    filter: grayscale(1);
}

.preview_faction_button {
    width: 280px;
    height: 190px;
    background-size: cover;
    border: 2px solid #919eba;
    border-radius: 5px;
    box-shadow: inset 0 -50px 50px -20px #2e3544;
    margin-right: auto;
    clip-path: polygon(
        0 0,
        calc(100% - 15px) 0,
        100% 15px,
        100% 100%,
        15px 100%,
        0 calc(100% - 15px));
}

.preview_faction_button:hover {
    width: 300px;
    height: 200px;
    border: 2px solid #9e59ff;
    box-shadow: inset 0 -50px 50px -20px #9e59ff;
}

.faction_name {
    color: white;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 280px;
    margin-top: 160px;
}

.preview_faction_button:hover .faction_name{
    width: 300px;
    margin-top: 170px;
}

.faction_rules {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 450px 450px;
    gap: 20px 50px;
}

.unit {
    width: 450px;
    height: 200px;
    background-size: cover;
    box-shadow: inset 300px 0px 400px -100px #2e3544;
    border: 2px solid #2e3544;
    border-radius: 5px;
}

.image_unit {
    display: grid;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
}

.header_unit {
    display: flex;
    height: 24px;
}

.name_unit {
    flex: 1;
    font-weight: normal;
    color: #a6adba;
    margin: 2px;
    margin-left: 5px;
}

.model_properties {
    align-self: flex-end;
    width: 250px;
    margin-top: 20px;
}

.unit_property {
    display: inline-block;
    color: #2e3544;
    background: linear-gradient(#919eba 0px, #626d84 40px);
    border-radius: 2px;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 2px;
}

.unit_property span {
    color: white;
    font-weight: bold;
}

#army_lists {
    display: grid;
    grid-template-columns: 490px 490px;
    gap: 20px 150px;
}

.unit_army_list {
    display: flex;
    background-color: #282d3a;
    border-radius: 5px;
    margin-top: 20px;
}

.unit_army_list.destroyed {
    background-color: red;
}

.destroyed .unit {
    filter: grayscale(1);
}

.inactive .unit{
    filter: grayscale(1);
}

.unit_state {
    padding: 4px;
    width: 24px;
}

.health_bar {
    display: flex;
    flex-direction: column;
    padding: 2px;
    height: 160px;
    border-radius: 2px;
    background-color: #2e3544;
    border: 2px solid #c2cce0;
    margin-left: 2px;
    margin-right: 2px;
}

.health_bar .token {
    flex: 1;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 1px;
    background: linear-gradient(0.25turn, #c8e2fc, #6994c0 25%, #6994c0 75%, #c8e2fc);
    box-shadow: 0 0 4px 1px #2f6d8f;
}

.health_bar:hover .token.next {
    background: linear-gradient(0.25turn, #fcc8c8, #ff4646 25%, #ff4646 75%, #fcc8c8);
    box-shadow: 0 0 5px 2px #ff4646;
}

.health_bar.red .token {
    background: linear-gradient(0.25turn, #fcc8c8, #ff4646 25%, #ff4646 75%, #fcc8c8);
    box-shadow: 0 0 5px 2px #ff4646;
}

.health_bar .token.used {
    background: linear-gradient(0.25turn, #535f79, #2e3544 25%, #2e3544 75%, #535f79);
    box-shadow: none;
}

.destroyed .health_bar .token {
    background: linear-gradient(0.25turn, #535f79, #2e3544 25%, #2e3544 75%, #535f79);
    box-shadow: none;
}

.destroyed .health_bar:hover .token.next {
    background: linear-gradient(0.25turn, #535f79, #2e3544 25%, #2e3544 75%, #535f79);
    box-shadow: none;
}

.count_models {
    color: #4a5266;
    text-align: center;
    margin-top: 5px;
    user-select: none;
}

.count_models:hover {
    color: #8bc5ff;
}

td.points_cost {
    color: #c2cce0;
}

.victory_points {
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    color: white;
    background: linear-gradient(red 0px, #626d84 50px);
    border-radius: 2px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.victory_points:hover {
    color: #8bc5ff;
}

.points_total {
    color: #535f79;
}

#button_next_turn {
    margin: 6px;
    margin-right: 10px;
    float: right;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: #535f79;
    border: 0px;
    border-radius: 2px;
}

#button_next_turn:hover {
    background-color: #626d84;
}

