

body {
    font-family: 'Nunito', Arial;
    font-size: small;
    color: white;
    background-color: #1c2029;
}

.fullwidth {
    width: 100%;
}

.invisible {
    display: none;
}

#main {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 500px;
    margin-left: auto;
    margin-right: auto;
}

.header_document {
    background-size: cover;
    height: 200px;
    padding: 200px;
    clip-path: polygon(
        20px 0,
        100% 0,
        100% calc(100% - 20px),
        calc(100% - 20px) 100%,
        0 100%,
        0 20px);
}

.logo_warhammer {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.section {
    margin-top: 0px;
    border-bottom: 2px solid #2e3544;
}

.chapter {
    margin-top: 100px;
    text-align: center;
    color: white;
    background-color: #2e3544;
    padding: 2px;
    border-bottom: 4px solid #4a5266;
    clip-path: polygon(
        0 0,
        calc(100% - 10px) 0,
        100% 10px,
        100% 100%,
        0 100%,
        0 0);
}

.indented {
    border-left: 1px solid #919eba;
    padding-left: 10px;
}

.table_default {
    border-collapse: collapse;
    border: 2px solid #2e3544;
}

.table_default th {
    color: white;
    background-color: #2e3544;
    border: 2px solid #2e3544;
    text-align: left;
    padding: 2px;
    padding-right: 20px;
    font-weight: normal;
    vertical-align: top;
}

.table_default td {
    color: #2e3544;
    background-color: #c2cce0;
    border-top: 1px solid #919eba;
    padding: 2px;
    vertical-align: top;
}

#core_rules {
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 100px 50px;
}

.icon {
    font-size: small;
}

.action {
    display: flex;
    width: 600px;
    background-color: #c2cce0;
    color: #2e3544;
    margin-bottom: 10px;
    border-radius: 2px;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        7px 100%,
        0 calc(100% - 7px));
}

.action > h4 {
    width: 80px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    color: white;
    background-color: #2e3544;
    padding: 5px;
}

.action > div {
    flex: 1;
    padding: 5px;
}

.selection_factions {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 10px 10px;
}

.container_faction_button  {
    height: 200px;
}

.container_faction_button.grayscale  {
    filter: grayscale(1);
}

.preview_faction_button {
    display: block;
    width: 280px;
    padding-top: 160px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    border-radius: 5px;
    border: 2px solid #919eba;
    box-shadow: inset 0 -50px 50px -20px #2e3544;
    clip-path: polygon(
        0 0,
        calc(100% - 15px) 0,
        100% 15px,
        100% 100%,
        15px 100%,
        0 calc(100% - 15px));
}

.preview_faction_button:hover {
    scale: 110%;
    border: 2px solid #9e59ff;
    box-shadow: inset 0 -50px 50px -20px #9e59ff;
}

.faction_rules {
    display: grid;
    margin-top: 40px;
    grid-template-columns: 1000px;
    gap: 20px;
}

.model {
    width: 480px;
    height: 210px;
    background-image: url("background.png");
    background-size: cover;
    box-shadow: inset 300px 0px 400px -100px #2e3544;
    border: 2px solid #9fa7ba;
    border-left: 5px solid #9fa7ba;
    border-radius: 2px;
    font-size: 18px;
    clip-path: polygon(
        0 0,
        calc(100% - 15px) 0,
        100% 15px,
        100% 100%,
        0 100%,
        0 0);
}

.image_unit {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
}

.data_unit {
    width: 200px;
    border-collapse: separate;
    border-spacing: 0px 1.5px;
}

.name_unit {
    color: #2e3544;
    background: linear-gradient(0.25turn, #9fa7ba, #6b738400 50%);
    padding: 1px 5px;
}

.model_property {
    color: white;
    background: linear-gradient(0.25turn, #80899c9d, #555c6c00);
}

.model_property .icon {
    text-align: center;
    font-weight: bold;
    color: white;
    width: 2em;
}

.model_property .attack {
    text-align: center;
    color: #2e3544;
}

.keyword {
    border-radius: 2px;
    margin-right: 2px;
}

#army_lists {
    display: grid;
    grid-template-columns: 550px 550px;
    gap: 0px 100px;
}

.unit_army_list {
    display: flex;
    border-radius: 5px;
    margin-top: 10px;
}


.unit_army_list .model:hover {
    box-shadow: inset 0 -50px 50px -20px #9e59ff;
}

.destroyed .model {
    filter: grayscale(1);
}

.inactive .model{
    filter: grayscale(1);
}

.unit_state {
    width: 22px;
    padding: 2px;
    background-color: #282d3a;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    user-select: none;
}

.destroyed .unit_state {
    background-color: red;
}

.health_bar {
    display: flex;
    flex-direction: column;
    padding: 2px;
    height: 125px;
    border-radius: 2px;
    background-color: #2e3544;
    border: 2px solid #626d84;
    margin-left: 2px;
    margin-right: 2px;
}

.health_bar .token {
    flex: 1;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 1px;
    background: linear-gradient(0.25turn, #c8e2fc, #8bc5ff 25%, #8bc5ff 75%, #c8e2fc);
    box-shadow: 0 0 5px 2px #5374b7;
}

.health_bar.red .token {
    background: linear-gradient(0.25turn, #fcc8c8, #ff4646 25%, #ff4646 75%, #fcc8c8);
    box-shadow: 0 0 5px 2px #ff4646;
}

.health_bar .token.used, .health_bar .token.preview_used, .destroyed .health_bar .token  {
    background: linear-gradient(0.25turn, #535f79, #2e3544 25%, #2e3544 75%, #535f79);
    box-shadow: none;
}

.count_models {
    color: #4a5266;
    text-align: center;
    margin-top: 5px;
}

.increase, .decrease {
    font-size: x-small;
}

.decrease {
    line-height: 10px;
}

.increase:hover {
    color: #8bc5ff;
}

.decrease:hover {
    color: red;
}

td.points_cost {
    color: #c2cce0;
}

.victory_state {
    display: flex;
    font-size: medium;
    color: #535f79;
}

.victory_points {
    padding: 2px;
}

.victory_points:hover {
    color: #8bc5ff;
}

.model_points {
    padding: 2px;
}

.outcome {
    font-weight: bold;
    text-align: center;
    width: 70px;
    color: white;
    border-radius: 2px;
    padding: 2px 4px 2px 4px;
    margin-right: 5px;
}

.outcome.winning {
    background: linear-gradient(#4e6bfb 0px, #626d84 50px);
}

.outcome.losing {
    background: linear-gradient(red 0px, #626d84 50px);
}

.outcome.draw {
    background: linear-gradient(#919eba 0px, #626d84 50px);
}

#button_next_turn {
    margin: 6px;
    margin-right: 10px;
    float: right;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: #535f79;
    border: 0px;
    border-radius: 2px;
}

#button_next_turn:hover {
    background-color: #626d84;
}

