

body {
    font-family: 'Nunito', Arial;
    font-size: small;
    color: white;
    background-color: #1c2029;
}

.fullwidth {
    width: 100%;
}

.invisible {
    display: none;
}

#main {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 500px;
    margin-left: auto;
    margin-right: auto;
}

.header_document {
    background-size: cover;
    height: 200px;
    padding: 200px;
    clip-path: polygon(
        20px 0,
        100% 0,
        100% calc(100% - 20px),
        calc(100% - 20px) 100%,
        0 100%,
        0 20px);
}

.logo_warhammer {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.section {
    margin-top: 0px;
    border-bottom: 2px solid #2e3544;
}

.chapter {
    margin-top: 100px;
    text-align: center;
    color: white;
    background-color: #2e3544;
    padding: 2px;
    border-bottom: 4px solid #4a5266;
    clip-path: polygon(
        0 0,
        calc(100% - 10px) 0,
        100% 10px,
        100% 100%,
        0 100%,
        0 0);
}

.indented {
    border-left: 1px solid #919eba;
    padding-left: 10px;
}

r {
    color: rgb(210, 45, 45);
    font-weight: bold;
}

.table_default {
    border-collapse: collapse;
    border: 2px solid #2e3544;
}

.table_default th {
    color: white;
    background-color: #2e3544;
    border: 2px solid #2e3544;
    text-align: left;
    padding: 2px;
    padding-right: 20px;
    font-weight: normal;
    vertical-align: top;
}

.table_default td {
    color: #2e3544;
    background-color: #c2cce0;
    border-top: 1px solid #919eba;
    padding: 2px;
    vertical-align: top;
}

#core_rules {
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 100px 50px;
}

.icon {
    font-size: small;
}

.term {
    width: 120px;
}

.action {
    display: flex;
    width: 600px;
    background-color: #c2cce0;
    color: #2e3544;
    margin-bottom: 10px;
    border-radius: 2px;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        7px 100%,
        0 calc(100% - 7px));
}

.action > h4 {
    width: 80px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    color: white;
    background-color: #2e3544;
    padding: 5px;
}

.action > div {
    flex: 1;
    padding: 5px;
}

.selection_factions {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 10px 10px;
}

.container_faction_button  {
    height: 200px;
}

.container_faction_button.grayscale  {
    filter: grayscale(1);
}

.preview_faction_button {
    display: block;
    width: 280px;
    padding-top: 160px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    border-radius: 5px;
    border: 2px solid #919eba;
    box-shadow: inset 0 -50px 50px -20px #2e3544;
    clip-path: polygon(
        0 0,
        calc(100% - 15px) 0,
        100% 15px,
        100% 100%,
        15px 100%,
        0 calc(100% - 15px));
}

.preview_faction_button:hover {
    scale: 110%;
    border: 2px solid #9e59ff;
    box-shadow: inset 0 -50px 50px -20px #9e59ff;
}

.faction_rules {
    display: grid;
    margin-top: 40px;
    grid-template-columns: 1000px;
    gap: 20px;
}

.model {
    width: 510px;
    height: 210px;
    background-image: url("background.png");
    background-size: cover;
    box-shadow: inset 300px 0px 400px -100px #2e3544;
    font-size: large;
}

.image_unit {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
}

.name_unit {
    color: rgb(205, 204, 216);
}

.armor {
    display: inline-block;
    color: #d2def6;
    background: #626d84;
    text-align: center;
    border-bottom-right-radius: 2px;
    padding: 0px 5px;
}

.data_unit {
    width: 150px;
    border-collapse: separate;
    border-spacing: 0px 1.5px;
    padding: 4px;
}

.model_property {
    color: #2e3544;
    background: linear-gradient(0.25turn, #555c6c00,  #80899c9d 15px, #555c6c00);
    padding-left: 10px;
    margin-top: 2px;
}

.model_property .icon {
    display: inline-block;
    text-align: center;
    color: white;
    width: 1.5em;
}

.keyword {
    border-radius: 2px;
    margin-right: 2px;
}

#army_lists {
    display: grid;
    grid-template-columns: 540px 540px;
    gap: 0px 100px;
}

#turn_information {
    float: right;
    margin: 4px;
    margin-right: 10px;
    padding: 2px 8px;
    font-size: large;
    background-color: #2e3544;
    color: #4a5266;
    border-radius: 2px;
}

.victory_state {
    font-size: large;
    font-weight: bold;
    text-align: center;
    width: 70px;
    color: white;
    border-radius: 2px;
    padding: 2px 4px 2px 4px;
}

.left_winning #left .victory_state, .right_winning #right .victory_state {
    background: linear-gradient(#4e6bfb 0px, #626d84 50px);
}

.draw .victory_state, .left_winning #right .victory_state, .right_winning #left .victory_state {
    background: linear-gradient(#919eba 0px, #626d84 50px);
}

.unit_army_list {
    display: flex;
    border-radius: 2px;
    margin-top: 10px;
    clip-path: polygon(
        0 0,
        calc(100% - 15px) 0,
        100% 15px,
        100% 100%,
        0 100%,
        0 0);
}

.unit_army_list .model:hover {
    box-shadow: inset 0 -50px 50px -20px #9e59ff;
}

.unit_army_list.destroyed {
    display: none;
}

.inactive .model {
    filter: opacity(0.4);
}

.unit_state {
    width: 26px;
    font-size: large;
    user-select: none;
    color: #3b404e50;
    background-color: #2e3544;
    border-radius: 4px;
}

.unit_state.hover_destroy {
    color: white;
    background: linear-gradient(0.25turn, #ff7777, #ff4646 25%, #ff4646 75%, #ff7777);
}

.health_bar {
    display: flex;
    flex-direction: column;
    padding: 2px;
    height: 175px;
    border-radius: 2px;
    background-color: #2e3544;
    border: 2px solid #535f79;
    margin: 2px;
}

.health_bar .token {
    flex: 1;
    margin-top: 1px;
    margin-bottom: 2px;
    border-radius: 1px;
    background: linear-gradient(0.25turn, #c8e2fc, #8bc5ff 25%, #8bc5ff 75%, #c8e2fc);
    box-shadow: 0 0 5px 2px #5374b7;
}

.health_bar.red_used .token, .health_bar.red_preview_used .token {
    background: linear-gradient(0.25turn, #fcc8c8, #ff4646 25%, #ff4646 75%, #fcc8c8);
    box-shadow: 0 0 5px 2px #ff4646;
}

.health_bar .token.used, .health_bar .token.preview_used, .unit_state.hover_destroy .token {
    background: linear-gradient(0.25turn, #535f79, #2e3544 25%, #2e3544 75%, #535f79);
    box-shadow: none;
}

.count_models {
    text-align: center;
}

